body{
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 70px;
}

.red{
	border: 2px solid red;
	height: 70px;
}
#entete{
	background-color: #66757F;
	background: url('../images/bac4.jpg');
	
	margin-bottom: 20px;
}


#corps{
	background-color:#FFFFFF;
	margin-bottom: 20px;
	margin: auto;
	 width:90%;
}

#footer{
	background-color: #838487;
	color:white;
	margin-bottom: 273px:


}

#competence{
	margin-bottom: 50px;
}

#experience{
	margin-bottom: 50px;
	background-color: #DFE3EE;
}

#centre{
	margin-bottom: 50px;
}

#formation{
	margin-top: 50px;
	margin-bottom: 50px;

}

#certification{
	margin-bottom: 50px;
	background-color: #DFCFBE;
}

.text1{
	font-size: 25px;
}
.text2{
	font-size: 18px;
}

.carousel{
	padding-top: 30px;
}